MYSQL_ROOT_PASSWORD=1234
MYSQL_DATABASE=vimbadmin
MYSQL_USER=vimbadmin
MYSQL_PASSWORD=1234
DOVECOT_SASL_PORT=12345
DOMAIN_NAME=example.com
SITE_NAME=vimbadmin
CERTS_DIR=/root/certs
INSTALL_PATH=/var/www/vimbadmin
MAILDIR=/var/mail/vhosts
HOMEDIR=/var/mail/vhosts
